.footer{
    background-color: black;
    text-align: center;
    color:white;
}

.footerBrand{
    padding-bottom: 48px;
    font-size: 24px;
}

.cc{
    padding:16px 0px;
    font-size: 14px;
    font-weight: 600;
    color:#67778A;
}